<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MCoupons</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <marquee> ⚠️ Sharing coupons is currently paused!</marquee>
    <div class="container">
      <h1>Welcome to Round-Robin Coupon Distribution System</h1>
      <p>
        Share your coupon, claim one in return! Join a community where everyone
        helps each other save more. Get exclusive deals while making a
        difference!
      </p>
      
      <form action="/coupons/claim" method="POST">
        <button type="submit" class="btn">Get My Coupon</button>
      </form>
    </div>
  </body>
</html>
